:root {
	--background: #35374B;
	--analogous-1: #344955;
	--analogous-2: #50727B;
	--analogous-3: #78A083;
	--error-color: #EF474F;

	--disabled-1: #888;
	--disabled-2: #777;
	--disabled-3: #666;
}

.main-container {
	display: static;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.split-30-70 {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}

.split-30-70>*:nth-child(1) { flex-basis: 30%; }
.split-30-70>*:nth-child(2) { flex-basis: 70%; }

.up-down-flex {
	display: flex;
	flex-flow: column nowrap;
}

.left-right-flex {
	display: flex;
	flex-flow: row nowrap;
}

.background {
	background-color: var(--background);
}

.background-analogous-1 {
	transition: all 500ms;
	background-color: var(--analogous-1);
}

.button-analogous-1 {
	background-color: var(--analogous-1);
	border: none;
}


.button-analogous-1 {
	background-color: var(--analogous-1);
	border: none;
	border-radius: 15px;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #000000;
	transition: border 100ms;
}

.button-analogous-1:hover {
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
}

.button-analogous-1:active {
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
}

.background-analogous-2 {
	transition: all 500ms;
	background-color: var(--analogous-2);
}

.button-analogous-2 {
	background-color: var(--analogous-2);
	border: none;
	border-radius: 15px;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #000000;
	transition: border 100ms;
}

.button-analogous-2:hover {
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
}

.button-analogous-2:active {
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
}

.background-analogous-3 {
	transition: all 500ms;
	background-color: var(--analogous-3);
}

.button-analogous-3 {
	background-color: var(--analogous-3);
	border: none;
	border-radius: 15px;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #000000;
	transition: border 100ms;
}

.button-analogous-3:hover {
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
}

.button-analogous-3:active {
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
}

.floating-container {
	padding: 8px;
	border-radius: 15px;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #000000;
}


.padding-mid {
	padding: 10px;
}

.write-container {
	border-bottom: 2px solid white;
	color: white;
}

.write-input {
	background: none;
	border: none;
	color: white;
}

.write-input:focus {
	outline: none;
}

.flexpand {
	flex-grow: 1;
}

.flex-space-around {
	justify-content: space-around;
}

.max-size-75 {
	max-width: 75px;
}

.max-size-25 {
	max-width: 25px;
}

.min-size-75 {
	min-width: 100px;
}

.gap-10 {
	gap: 10px;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
}

.sides-padding {
	padding: 0 5px;
}

.svg-icon {
	filter: invert(98%) sepia(82%) saturate(444%) hue-rotate(208deg) brightness(113%) contrast(100%);
}

.strong-input {
	font-weight: bolder;
	font-size: 24px;
}

.remove-button {
	background: none;
	border: none;
	outline: none;
	transition: all 100ms;
}

.remove-button:hover {
	transform: translateY(-2px); 
}

.schedule {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns:  repeat(8, 1fr);
	grid-template-rows:  repeat(180, 0.1fr);
	border-radius: 15px;
	padding: 10px;
}

.schedule-numbers:nth-child(2n + 1), .schedule-days-even {
	background: rgba(255, 255, 255, 0.05);
}

.schedule-numbers:nth-child(2n), .schedule-days-odd {
	background: rgba(255, 255, 255, 0.1);
}

.color-picker {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	width: 25px;
	height: 25px;
	align-self: center;
}

.color-picker::-webkit-color-swatch,
.color-picker::-moz-color-swatch {
	border-radius: 100%;
	border: none;
}

.generated-container {
	height: 100vh;
	background: var(--analogous-1);
	padding: 10px;
}

.grid-2x2 {
	display: grid;
	grid-template-columns:  repeat(2, 1fr);
	grid-template-rows:  repeat(2, 0.1fr);
	grid-gap: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.invalid-class {
	transition: all 500ms;
	background: var(--error-color);
}

.not-used-course {
	transition: all 500ms;
	background: var(--disabled-1);
}

.not-used-section {
	transition: all 500ms;
	background: var(--disabled-2);
}

.not-used-class {
	transition: all 500ms;
	background: var(--disabled-3);
}
